.intro-fade {
  position: absolute;
  top: 145px; /* 네비게이션 바 높이에 맞춰 조정 (ex: 60px) */
  left: 0;
  width: 100%;
  height: calc(100vh - 60px); /* 네비게이션 바 제외한 높이 */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 2s forwards;
  z-index: 999;
}

.intro-fade h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
