.admin-mypage-container {
  padding: 30px;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Pretendard', sans-serif;
  background-color: #f7f7fb;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.breadcrumb-line {
  height: 1px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.admin-profile-box {
  text-align: center;
  margin-bottom: 30px;
}

.admin-name {
  font-size: 22px;
  font-weight: bold;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid #ccc; */
  /* margin-bottom: 20px; */
}

.tab-item {
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
  color: #666;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s;
}

.tab-item.active {
  color: #111;
  border-bottom: 3px solid #66bb6a;
}

/* .tab-content-wrapper {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
} */

.admin-info-box p {
  font-size: 16px;
  margin: 10px 0;
}
