<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘린더</title>
    <style>
    
    </style>
</head>
<div layout:fragment="content">
  <header>
      <h1>캘린더</h1>
  </header>

  <section class="hero">
    <!-- React index.html 내용이 여기서 실행됨 -->
    <iframe src="/index.html" width="100%" height="700" style="border:none;"></iframe>
  </section>
</div>
</html>