<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  
  <div class='title_line'>토닥이</div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='/member/login'>로그인</a>
    <span class='menu_divide' >│</span> 
    <a href='/admin/create'>관리자 회원가입</a>
  </aside> 

  
  <div class='menu_line'></div>
    
  <div class="chat_form">
      <form action="#" method="post">
          <textarea id="question" name="question" placeholder="오늘 하루는 어떠셨나요" required style="width: 90%;"></textarea>
          <button type="button">&nbsp&nbsp>&nbsp&nbsp</button>
      </form>
  </div>

</html>
