<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="ko">
<div layout:fragment="content">

    <div class="title_line">카테고리 등록</div>

    <div>
        <form name="" method="post" action="/category/create" th:object="${categoryVO}">

            <div>
                <label>카테고리 이름</label>
                <label>
                    <input type="text" name="name" value="" autofocus="autofocus"
                           class="form-control fom-control-sm" style="width: 100%;" th:field="*{name}">
                </label>
                <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('name'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>출력 순서</label>
                <label>
                    <input type="number" name="seqno" value="1" min="1" max="1000000" step="1"
                           class="form-control fom-control-sm" style="width: 50%;" th:field="*{seqno}">
                </label>
                <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
                </div>
            </div>
            <div>
                <label>출력 모드(Y/N)</label>
                <div style="margin-right: 2px; width: 15%; float: left;">
                    <label for="visible"></label><select id="visible" name="visible" class="form-control">
                        <option value="출력 모드" selected="selected">출력 모드</option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
                <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                    <div th:each="err: ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
                </div>
            </div>
            <div class="content_body_bottom">
                <button type="submit" class="btn btn-secondary btn-sm">등록</button>
                <button type="button" onclick="location.href='/category/list_all'" class="btn btn-secondary btn-sm">목록</button>
            </div>
        </form>
    </div>

</div>
</html>

<!-- grp, name, cnt, seqno, visible, rdate -->
