<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">

    <div style="margin-bottom: 10px;">
        <a href="#">종합 심리검사</a>
        <span style="margin: 0 5px;">|</span>
        <a href="#">우울증 검사</a>
        <span style="margin: 0 5px;">|</span>
        <a href="#">MBTI 검사</a>
    </div>


    <div class='menu_line'></div>


    <div class='bottom_menu'>
        <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
    </div>

</div>
</html>